/* header */
.header{
  margin-top: 10%;
  /* font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */

  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  /* temporary */
  font-weight: 400;
  margin-bottom: 8%;
  /* rgb(39, 60, 67); */

}
.name {
  font-weight: bolder;
  font-size: 4.5rem;
  text-align: left;
  color: rgb(214, 247, 255);
  text-decoration: wavy;
  text-shadow: 0px 0px 21px 21px white;
}
.name b{
  color: #67fae7;
}


.laptop-box{
  /* align-content: center; */
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  
  
}
 .laptop {
  /* margin-left: 30%; */
  margin-top: 3rem;
  margin-left:18%;
  font-size: 18rem !important;
  /* margin: 15px !important; */
  padding: 10px !important;
  opacity: 0.93 !important;
  /* border: 1.7px solid rgb(4, 207, 243) !important; */
  vertical-align: middle !important;
  text-align: center !important;
  /* border-radius: 5px !important; */
  display: table !important;
  /* box-shadow: 4px 5px 4px 3px rgb(89, 195, 244) !important; */
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  color: #14dfc1;
  
}



@media (max-width: 767px) {

  
  .name{
    font-size: 2.25rem;
  }
 
}

.Typewriter__wrapper {
  font-weight: bolder;
  text-align: left;
  font-size: 3rem;
  color: #64daca ;
}
.Typewriter__cursor {
  font-size: 3.4rem !important;
  color: #62ced6 !important;
  font-weight: 700;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 2rem !important;
    font-weight: 600 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    font-size: 2.2rem !important;
    display: none !important;
    font-weight: 700;
  }
}


.laptop:hover {
  transform: scale(1.25) !important;
  overflow: hidden !important;
  /* border: 2.2px solid rgb(10, 223, 243) !important; */
}
/* .tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
} */

@media screen and (min-width: 300px) and (max-width: 1000px) {
  .laptop-box{
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
  }
  .laptop{
    margin-top: 0;
    width: 60%;
  }
  
}

 /* BodyHome */
 .BodyHome{
  /* font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
font-weight: 400;
margin-top: 8rem;

 }

 .BodyHome h1{
  color: #def4f1;
  margin-bottom: 4rem;
 }
.BodyHome b{
  color: #77ffed;
}

 .BodyHome .size{
  width: 170%;
 }
 .BodyHome p{
  color: rgb(235, 239, 242);
  text-align: left;
  margin: 1rem;
  font-size: 1.25rem;
 }
 .person{
  margin-left: 20%;
  margin-top: 3rem;
  font-size: 14rem !important;
  /* margin: 15px !important; */
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 3.7px solid rgb(4, 207, 243) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  /* box-shadow: 4px 5px 4px 3px rgb(89, 195, 244) !important; */
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  color: #14dfc1;
 }
 .person:hover{
  box-shadow: 0px 0px 4px 4px rgb(6, 214, 218) !important;
  
}

@media screen and (max-width: 767px) {
  .BodyHome{
    margin-top: 0;   
  }
  .BodyHome h1{
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  .person {
    width: 60%;
    margin-left: 20%;
  }
  .BodyHome .row-person{
    display: flex;
    flex-direction: column-reverse;
  }
 
  /* .BodyHome .Col:nth-of-type(2){
    order: 1;
  }
  .BodyHome .Col:nth-of-type(1){
    order: 2;
  } */
}

.person:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgb(10, 223, 243) !important;
}
.connect{
  margin-top: 8rem;
}

@media screen and (max-width: 767px) {
  .connect{
    margin-top: 0;
  }
  .connect h2{
    
    color: #ffffff;
  }
  
}
.connect h2{
  color: #ffffff;
}
.connect b{
  color: #77ffed;
}
.icon-connect{
  margin: 1rem;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  text-align: center;
}

.iconLogo{
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
}
.icon-connect:hover{
  
  box-shadow: 0px 0px 5px 5px #77ffed;
} 


/* ======================= */

/* NavBar */

/* .NAVBAR{
  position: sticky;
} */
.NAVBAR{
  /* background-color: #00cfba; */
  width: 100%;
  background-image: linear-gradient(to right, #02c7b4, #00a595);
  /* background-image: repeating-linear-gradient(to right,hsl(304, 91%, 13%)); */
  box-shadow:0px 0px 2px 2px #57c5b6;
  /* border-color:#28a090; */
  border-color: #28a090;
  margin-top: 0%;
}

@media screen and (min-width: 300px) and (max-width: 1080px) {
  #nav{
    width:100%;
  }
}

.navbar:hover{
  box-shadow: 0px 0px 5px 5px hsl(174, 98%, 76%);
}
.navbar-brand:hover{
 color: #ffffff;
}
.navbarname{
  font-size: 2.5rem;
  text-decoration: solid;
  color: #57c5b6;

}
.navbar-Brand:hover{
  color: rgb(0, 84, 84);
}
#nav{
position:sticky;
top: 1%;
  text-align: center;
  font-size: 1.5rem;
  box-shadow:0px 0px 2px 2px #57c5b6; 
}
.NavBar{
  text-align: center;
  box-shadow:0px 0px 2px 2px #57c5b6;
}
.nav1{
  z-index: 1;
  color: aliceblue;
  
  font-size: 1.5rem;
  margin-right: 2rem;
}

.nav-right{
  margin-left: 46%;
}
@media screen and (min-width: 1340px) and (max-width: 1440px) {
  .nav-right{
    margin-left: 40%;
  }
}
@media screen and (min-width: 1240px) and (max-width: 1300px) {
  .nav-right{
    margin-left: 35%;
  }
}
@media screen and (min-width: 1089px) and (max-width: 1239px) {
  .nav-right{
    margin-left: 25%;
  }
}
@media screen and (min-width:1039 ) and (max-width: 1088px) {
  .nav-right{
    margin-left: 15%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1030px) {
  .nav-right{
    margin-left: 15%;
  }
}
.nav-link:hover{
  color: #a3fef2;
  text-shadow:  1px 0px 1px #a3fef2;
}

/* .navbar .nav-link a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #c95bf5;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar .nav-link a:hover::after {
  width: 100%;
} */


/* SectionA */
/* #section1{
  
  height: 1000px;
  color: white;
} */
/* #fun{
  height: 1000px;
  color: white;
} */
/* #aboutme{
  height: 1000px;
  color: white;
} */
/* #section4{
  height: 1000px;
  color: white;
} */





/* --------- */
/* Footer */
/* --------- */
.footer {
  background-color: rgb(1, 140, 131);
 
  /* background-color: transparent ; */
  bottom: 1% !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}
.footer-copywright {
  text-align: center !important;
}
.footer:hover{
box-shadow:0px 0px 3px 3px #77ffed;

}
.footer-body {
  z-index: 1;
  text-align: center !important;
}

@media (max-width: 767px) {
  .footer-copywright {
    text-align: center !important;
  }

  .footer-body {
    text-align: center !important;
  }
}

.footer h3 {
  font-size: 1em;
  color: rgb(238, 244, 245) !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.footer-icons {
  list-style: none;
  font-size: 1rem;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  padding: 0 !important;
  
}
.footer-icons li{
  display: inline-block;
  margin-right: 25px;
  text-transform: scale(1.05);
  text-shadow: #14dfc1;
}





.blockquote-footer {
  color: #88bcc0 !important;
}


/* Fun */
.card:hover{
  box-shadow: 0px 0px 5px 5px #33c7ef;
  background-image: linear-gradient(to right,rgb(2, 171, 177),#03676a);
}
.cardChanges{
  z-index: 0;
  align-items: center;
  /* margin: 16% 3% 3% 3%; */
  /* margin: 2% 2% 2% 2%; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: auto;

 /* background-color: transparent; */
 border-color: #f4fffe;
 color: #d6faf6;
  background-image: linear-gradient(to left,rgb(2, 171, 177),#03676a);
}
.fun-page .rowChanges{
align-items: center;
justify-content: center;
}
.fun-page{
  /* margin-top: 2%; */
  padding-top: 8%;
  margin-bottom: 15%;
}
@media (max-width: 767px) {
  .fun-page{
    /* margin-top: 2%; */
    margin-top: 8%;
    margin-bottom: 12%;
  }
  .fun-page .head-fun{
    margin-top: 5%;
    margin-bottom: 8%;
  }
}


/* Styles for screens with a minimum width of 768px and maximum width of 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 2% 2% 2% 2%;
  }
}

@media screen and (min-width: 575px) and (max-width: 768px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 4%;
  }
}

@media screen and (min-width: 300px) and (max-width: 574px) {
  .fun-page .cardChanges {
    justify-content: center;
    align-items: center;
    margin: 4% 6% 4% 6%;
  }
}


.head-fun h2{
  color: #14dfc1;
}
.fun-page h4{
  color: aliceblue;
}
.head-fun{
  margin-bottom: 5%;
}
.btn-primary{
  /* background-color: #3a0779; */
  background-image: linear-gradient(to left,#0093bc,rgb(5, 228, 228));
color:black
}
.btn-primary:hover{
  background-image: linear-gradient(to right,#0093bc,rgb(5, 228, 228));
  box-shadow: 0px 0px 2px 2px #4acbef;
}

#contact{
  position: sticky;
  bottom: 1%;
}

.cont{
  
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  z-index: 1;
  margin: auto;
  background-image: linear-gradient(to left, rgb(71, 0, 56),rgb(1, 22, 44));
  font-size: 2rem;
  color: #4acbef;
}
.InsideCont{
  text-align: left;
  padding-left: 40%;
}

/* About me section */

.Aboutme{
  margin-top: 10%;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: aliceblue;
}

.Aboutme .size2{
  text-align: center;
  
}
@media screen and (min-width: 300px) and (max-width: 1000px) {
  .Aboutme .size2{
    margin-top: 4rem;
  }
}
.size2 img{
  
  width:90%;
  box-shadow:0px 0px 2px 2px #77ffed;
}
.size2 img:hover{
  transform: scale(1.05) !important;
  box-shadow:0px 0px 4px 4px #77ffed;
}
.Aboutme h1{
  font-size: 1.25rem;
}
.Aboutme .Head{
  font-size: 2rem;
}
.Aboutme p{
  font-size: 1.25rem;
}

.Aboutme b{
  color: #57c5b6;
}

/* Techskills */

.TechSkills{
  margin-top: 5%;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: aliceblue;
  text-align: center;
}
.TechSkills h1{
  font-size: 2.5rem;
}
.TechSkills b{
  color: #57c5b6;
}
/* Tech-icons */


.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 10px !important;
  opacity: 0.93 !important;
  border: 1.7px solid rgb(4, 207, 243) !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;
  /* box-shadow: 4px 5px 4px 3px rgb(89, 195, 244) !important; */
  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
}

.tech-icons:hover{
  box-shadow: 0px 0px 4px 3px rgb(11, 235, 239) !important;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.05) !important;
  overflow: hidden !important;
  border: 2.2px solid rgb(0, 221, 241) !important;
}
.tech-icon-images {
  padding: 20px !important;
  line-height: 1.6 !important;
}

.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}


/* --------- */
/* Resume */
/* --------- */

.resume-section{
  z-index: 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.resume-section h1{
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}
.resume-section b{
  color: #00cfba;
}
@media (max-width: 767px) {
  .resume-section h1{
    text-align: center;
    font-size: 1.5rem;
    color: #ffffff;
  }
}
.resume-section .btn-primary{
  background-image:linear-gradient(to right, #28a090,rgb(2, 97, 118)) ;
}
.resume{
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.resume-section .btn-primary:hover{
  background-image:linear-gradient(to left, #28a090,rgb(2, 97, 118)) ;
}

.feedback{
  text-align: center;
  color: white;

margin-top: 5rem;
}

.feedback h1{
  color: #67fae7;
  margin-bottom: 3rem;
}
.feedback p{
  font-size: 1.5rem;
  
}
.feedback b{
  color: #57c5b6;
}

.feedback-btn{
  margin-bottom: 6rem;
}
.feedback-btn .btn{
  width:fit-content;
}
@media screen and (max-width: 767px) {
  .feedback p{
    font-size: 1rem;
    
  }
}





















